// COLORS
$color-blue-primary: #2B32B2;
$color-blue-secondary: #1488CC;
$color-blue-tertiary: #37A8EE;
$color-white: whitesmoke;
$color-white-btn: rgba(255, 255, 255, .8);
$shadow-btn: rgba(0, 0, 0, 0.65);
